<section id="contact" class="text-center">
    <h2>Contact</h2>
    <p>Puedes encontrarme en las siguientes redes. No dudes en contactar conmigo ya sea por motivos laborales,
        inquietudes o simplemente charlar un rato.</p>
    <div>
        <a href="mailto:ivanfernandez422000@gmail.com" target="_blank"><img src="../../assets/contact/email.svg"
                alt="email" /></a>
        <a href="https://www.linkedin.com/in/iv%C3%A1n-fern%C3%A1ndez-campos-b461a3183/" target="_blank"><img
                src="../../assets/contact/linkedin.svg" alt="linkedin" /></a>
    </div>
</section>