<div class="project-list-item">
    <div class="project-list-item-content">
        <div class="project-list-item-title-container">
            <h3>@@name</h3>
            <div>
                @@for (var i = 0; i < technologiesIcons.length; i++) {
                    <img src=../../assets/projects/`+technologiesIcons[i]+`.svg alt=`+technologiesIcons[i]+`>
                }
            </div>
        </div>
        @@if (label === 'fega') {
            <p>{{ fegaDescription | translate }}</p>
        }
        @@if (label === 'besteeth') {
            <p>{{ besteethDescription | translate }}</p>
        }
        @@if (label === 'datingApp') {
            <p>{{ datingAppDescription | translate }}</p>
        }
        @@if (label === 'cine') {
            <p>{{ cineDescription | translate }}</p>
        }
        @@if (label === 'videogames') {
            <p>{{ videogamesDescription | translate }}</p>
        }
        @@if (label === 'calculator') {
            <p>{{ calculatorDescription | translate }}</p>
        }
    </div>
    <a href=@@githubLink target="_blank"><button>{{ viewOnGithub | translate }}</button></a>
</div>