<section id="projects">
    <h2>{{ projects | translate }}</h2>
    <div class="project-list">
        @@loop('./project-card.html', [{
        "label": "dailyTrends",
        "name": "Daily Trends",
        "technologiesIcons": ["nodejs", "aws", "mongodb", "react", "typescript"],
        "githubLink": "https://github.com/ivanfernandez2646/daily-trends",
        "demoLink": "https://daily-trends.netlify.app/"
        }, {
        "label": "simpleChat",
        "name": "Simple Chat",
        "technologiesIcons": ["nodejs", "gcloud", "postgre", "react", "typescript"],
        "githubLink": "https://github.com/ivanfernandez2646/simple-chat",
        "demoLink": "https://www.youtube.com/watch?v=N8a33GPYxbU&feature=youtu.be&ab_channel=IvanFernandez"
        }, {
        "label": "bankApi",
        "name": "Bank API",
        "technologiesIcons": ["nodejs", "mongodb", "typescript"],
        "githubLink": "https://github.com/ivanfernandez2646/bank-api",
        "demoLink": "https://www.youtube.com/watch?v=mMnvO_KoSsY&ab_channel=IvanFCDeveloper"
        }, {
        "label": "gymRecords",
        "name": "Gym Records",
        "technologiesIcons": ["nodejs", "mongodb", "ionic", "typescript"],
        "githubLink": "https://github.com/ivanfernandez2646/gym-records-app",
        "demoLink": "https://www.youtube.com/watch?v=gLQDoQN-3So&ab_channel=IvanFernandez"
        }, {
        "label": "quoteOfTheDay",
        "name": "Quote of the Day",
        "technologiesIcons": ["nodejs", "gcloud", "javascript"],
        "githubLink": "https://github.com/ivanfernandez2646/quote-of-the-day",
        "demoLink": "https://www.youtube.com/shorts/HnoNWAL02rs"
        }, {
        "label": "countryList",
        "name": "Country List",
        "technologiesIcons": ["nodejs", "html", "css", "javascript", "pug"],
        "githubLink": "https://github.com/ivanfernandez2646/country-list",
        "demoLink": "https://country-list-l4zg.onrender.com/"
        }, {
        "label": "besteeth",
        "name": "Besteeth",
        "technologiesIcons": ["java", "python", "odoo", "postgre", "html", "css"],
        "githubLink": "https://github.com/ivanfernandez2646/besteeth",
        "demoLink": "https://www.youtube.com/watch?v=KeFnfpeI3G0&feature=youtu.be&ab_channel=IvanFernandez"
        }])
    </div>
</section>