<div class="project-list-item">
    <div class="project-list-item-content">
        <div class="project-list-item-title-container">
            <h3>@@name</h3>
            <div>
                @@for (var i = 0; i < technologiesIcons.length; i++) { <img
                    src="assets/projects/`+technologiesIcons[i]+`.svg" alt="`+technologiesIcons[i]+`">
                    }
            </div>
        </div>
        @@if (label === 'gymRecords') {
        <p>{{ gymRecordsDescription | translate }}</p>
        }
        @@if (label === 'besteeth') {
        <p>{{ besteethDescription | translate }}</p>
        }
        @@if (label === 'quoteOfTheDay') {
        <p>{{ quoteOfTheDayDescription | translate }}</p>
        }
        @@if (label === 'dailyTrends') {
        <p>{{ dailyTrendsDescription | translate }}</p>
        }
        @@if (label === 'countryList') {
        <p>{{ countryListDescription | translate }}</p>
        }
        @@if (label === 'bankApi') {
        <p>{{ bankApiDescription | translate }}</p>
        }
        @@if (label === 'simpleChat') {
        <p>{{ simpleChatDescription | translate }}</p>
        }
    </div>
    <div class="project-list-item-buttons">
        <a href="@@githubLink" target="_blank"><button>{{ viewOnGithub | translate }}</button></a>
        <a href="@@demoLink" target="_blank"><button>{{ demo | translate }}</button></a>
    </div>
</div>