<section id="projects">
    <h2>Projects</h2>
    <div class="project-list">
        @@loop('./project-card.html', [{
            "label": "fega",
            "name": "Biblioteca FEGA", 
            "technologiesIcons": ["html", "css", "csharp", "aspnet", "sqlserver"],
            "githubLink": "https://github.com/ivanfernandez2646/bibliotecaFEGA"
        }, {
            "label": "besteeth",
            "name": "Besteeth", 
            "technologiesIcons": ["html", "css", "java", "python", "odoo", "postgre"],
            "githubLink": "https://github.com/ivanfernandez2646/besteeth"
        }, {
            "label": "datingApp",
            "name": "DatingApp", 
            "technologiesIcons": ["html", "css", "bootstrap", "typescript", "javascript", "csharp", "postgre"],
            "githubLink": "https://github.com/ivanfernandez2646/DatingAPP"
        }, {
            "label": "cine",
            "name": "Entradas Cine", 
            "technologiesIcons": ["html", "css", "bootstrap", "javascript", "pug", "nodejs", "mongodb"],
            "githubLink": "https://github.com/ivanfernandez2646/entradas-cine-murcia"
        }, {
            "label": "videogames",
            "name": "Blog Videojuegos", 
            "technologiesIcons": ["html", "css", "php", "mysql"],
            "githubLink": "https://github.com/ivanfernandez2646/bibliotecaFEGA"
        }, {
            "label": "calculator",
            "name": "Calculator", 
            "technologiesIcons": ["html", "css", "javascript"],
            "githubLink": "https://github.com/ivanfernandez2646/Calculator_byIFC"
        }])
    </div>
</section>