<div id="projects">
    <h2>Projects</h2>
    <div class="project-list">
        @@loop('./project-card.html', [{
            "name": "Biblioteca FEGA", 
            "description": "Triple proyecto web con .NET.",
            "technologiesIcons": ["../../assets/projects/csharp.png", "../../assets/projects/css.png", "../../assets/projects/html.png", "../../assets/projects/sql.png"],
            "githubLink": "https://github.com/ivanfernandez2646/bibliotecaFEGA"
        }, {
            "name": "Besteeth", 
            "description": "Proyecto multiplataforma realizado para el fin de ciclo formativo. Calificado con un 10.",
            "technologiesIcons": [""],
            "githubLink": "https://github.com/ivanfernandez2646/besteeth"
        }, {
            "name": "DatingApp", 
            "description": "Web para conocer personas.",
            "technologiesIcons": ["technologiesIcons"],
            "githubLink": "https://github.com/ivanfernandez2646/DatingAPP"
        }, {
            "name": "Entradas Cine", 
            "description": "Web para reservar entradas de cine.",
            "technologiesIcons": ["technologiesIcons"],
            "githubLink": "https://github.com/ivanfernandez2646/entradas-cine-murcia"
        }, {
            "name": "Calculator", 
            "description": "Pequeña calculadora realizada durante una tarde lluviosa de Domingo.",
            "technologiesIcons": ["technologiesIcons"],
            "githubLink": "https://github.com/ivanfernandez2646/Calculator_byIFC"
        }, {
            "name": "Blog Videojuegos", 
            "description": "Mi iniciación a PHP. Con ello descubrí que PHP no era lo que más me llamaba la atención.",
            "technologiesIcons": ["technologiesIcons"],
            "githubLink": "https://github.com/ivanfernandez2646/bibliotecaFEGA"
        }])
    </div>
</div>