<section id="about-me" class="text-center">
    <div class="about-me-description">
        <h2>{{ aboutMe | translate }}</h2>
        <div class="about-me-description-text">
            <p>{{ aboutMeFirstParagraph | translate }}</p>
            <p>{{ aboutMeSecondParagraph | translate }}</p>
            <p>{{ aboutMeThirdParagraph | translate }}</p>
        </div>

    </div>
    <div class="about-me-skills">
        @@loop('./skills-about_me.html', [
        {
            "labelIcon": "backend",
            "title": "Backend Developer",
            "technologies": "Javascript & Typescript (Node.js), AWS (Lambda, S3), Jest, Gitlab, Bitbucket",
            "tools": "VSCode, Microsoft Teams, Slack, Jira"
        },
        {
        "labelIcon": "frontend",
        "title": "Frontend Developer",
        "technologies": "Javascript, Typescript, ReactJS, Angular",
        "tools": "VSCode, WebStorm, MaterialUI"
        }, 
        {
        "labelIcon": "android",
        "title": "Android Developer",
        "technologies": "Android, Java, Google API",
        "tools": "Android Studio, MVVM Pattern, AsyncTask, XMLRPC, RecyclerView, ConstraintLayout"
        }])
    </div>
</section>