<section id="about-me" class="text-center">
    <div class="about-me-description">
        <h2>{{ aboutMe | translate }}</h2>
        <div class="about-me-description-text">
            <p>{{ aboutMeFirstParagraph | translate }}</p>
            <p>{{ aboutMeSecondParagraph | translate }}</p>
        </div>

    </div>
    <div class="about-me-skills">
        @@loop('./skills-about_me.html', [{
            "labelIcon": "front-end",
            "title": "Front-end Developer",
            "technologies": "Javascript, Typescript, ReactJS, Angular, HTML, CSS, jQuery, AJAX",
            "tools": "VSCode, WebStorm, MaterialUI"
        }, {
            "labelIcon": "back-end",
            "title": "Back-end Developer",
            "technologies": ".NET, .NET Core, C#, VB.NET, Entity Framework, IIS",
            "tools": "Visual Studio 2019, SQL Server"
        }, {
            "labelIcon": "android",
            "title": "Android Developer",
            "technologies": "Android, Java, Google API",
            "tools": "Android Studio, MVVM Pattern, AsyncTask, XMLRPC, RecyclerView, ConstraintLayout"
        }])
    </div>
</section>